$fontColorPrimary: #000000;
$fontColorSecundary: #434662;
$fontColorEmphasis1: #bfa9e2;
$fontColorEmphasis2: #4d347d;
$fontColorChips1: #6343ab;
$fontColorChips2: #2a5aa7;
$chipsBgColor1: #9489a9;
$chipsBgColor2: #869bb1;
$chipsBgColor3: #9799a4;
$headerBackground: #f2f3f7;
$defaultBgColor: #cccfe0;
$newslaterBg: #e8e2ff;
$btnBgColor: #6428cb;